<div class="container" style="max-width: 100%;">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Manage <b>Expenses</b></h2>
        </div>
        <div class="col-sm-6">
          <button href="#addExpenseModal" class="btn btn-success" data-toggle="modal" (click)="setLocalExpense()">
            <i class="material-icons">&#xE147;</i> <span>Add New Expense</span>
          </button>

          <button href="#deleteMultipleExpenseModal" class="btn btn-danger" data-toggle="modal" [disabled]="selectedExpenses.length == 0">
            <i class="material-icons">&#xE15C;</i> <span>Delete Entries</span>
          </button>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll" (change)="selectAll()">
								<label for="selectAll"></label>
							</span>
        </th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let expense of expenses; let i = index" [hidden]="!(i < (5 * currentPage) && i >= (5 * (currentPage - 1)))">
        <td>
							<span class="custom-checkbox">
								<input type="checkbox" id="{{'selectOne' + expense._id}}" name="options[]" value="1" (change)="selectOne(expense)">
								<label for="{{'selectOne' + expense._id}}"></label>
							</span>
        </td>
        <td>{{expense.name}}</td>
        <td>{{expense.category}}</td>
        <td>{{expense.price}}</td>
        <td>{{expense.date | date}}</td>
        <td>
          <a href="#editExpenseModal" class="edit" data-toggle="modal" (click)="setLocalExpense(expense)">
            <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
          </a>

          <a href="#deleteOneExpenseModal" class="delete" data-toggle="modal" (click)="setLocalExpense(expense)">
            <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
          </a>
        </td>
      </tr>

      </tbody>
    </table>

    <div class="clearfix">
      <div class="hint-text">Showing <b>{{itemsPerPage}}</b> out of <b>{{expenses.length}}</b> entries</div>
      <ul class="pagination">
        <li><button class="btn btn-dark page-item" [disabled]="currentPage - 1 < 1" (click)="previousPage()">Previous</button></li>
        <li style="margin-left: 10px; margin-right: 10px;"><button class="btn btn-dark page-item" disabled>{{currentPage}}</button></li>
        <li><button class="btn btn-dark page-item" [disabled]="currentPage + 1 > pages" (click)="nextPage()">Next</button></li>
      </ul>
    </div>
  </div>
</div>

<!-- Add Modal HTML -->
<div id="addExpenseModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Add Expense</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div *ngIf="unUsefulExpense.active" class="alert alert-danger" style="width: 115%; text-align: center; right: 25px;" [innerHTML]="unUsefulExpense.text"></div>
          <div class="form-group">
            <label>Name</label>
            <input id="addName" type="text" class="form-control" placeholder="Enter the name" required>
            <p *ngIf="validators.name" class="text-danger">{{validators.name}}</p>
          </div>
          <div class="form-group">
            <label>Category</label>
            <select id="addCategory" class="form-control" placeholder="Select the category">
              <option>Food</option>
              <option>Utilities</option>
              <option>Shopping</option>
              <option>Entertainment</option>
            </select>
            <p *ngIf="validators.category" class="text-danger">{{validators.category}}</p>
          </div>
          <div class="form-group">
            <label>Price</label>
            <input id="addPrice" type="text" class="form-control" placeholder="Enter the price" required>
            <p *ngIf="validators.price" class="text-danger">{{validators.price}}</p>
          </div>
          <div class="form-group">
            <label>Date</label>
            <input id="addDate" type="date" class="form-control" required>
            <p *ngIf="validators.date" class="text-danger">{{validators.date}}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button class="btn btn-success" (click)="addExpense()">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Modal HTML -->
<div id="editExpenseModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Edit Expense</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>
            <input id="editName" type="text" class="form-control" required value="{{localExpense.name}}">
            <p *ngIf="validators.name" class="text-danger">{{validators.name}}</p>
          </div>
          <div class="form-group">
            <label>Category</label>
            <select id="editCategory" class="form-control">
              <option [selected]="localExpense.category == 'Food'">Food</option>
              <option [selected]="localExpense.category == 'Utilities'">Utilities</option>
              <option [selected]="localExpense.category == 'Shopping'">Shopping</option>
              <option [selected]="localExpense.category == 'Entertainment'">Entertainment</option>
            </select>
            <p *ngIf="validators.category" class="text-danger">{{validators.category}}</p>
          </div>
          <div class="form-group">
            <label>Price</label>
            <input id="editPrice" type="text" class="form-control" required value="{{localExpense.price}}">
            <p *ngIf="validators.price" class="text-danger">{{validators.price}}</p>
          </div>
          <div class="form-group">
            <label>Date</label>
            <input id="editDate" type="date" class="form-control" required>
            <p *ngIf="validators.date" class="text-danger">{{validators.date}}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button class="btn btn-info" (click)="editExpense()">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete One Modal HTML -->
<div id="deleteOneExpenseModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">{{'Delete '  + localExpense['name']}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>{{'Are you sure you want to delete expense ' + localExpense['name'] + ' ?'}}</p>
          <p class="text-warning"><small>This action cannot be undone.</small></p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button class="btn btn-danger" data-dismiss="modal" (click)="deleteOne()">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete Multiple Modal HTML -->
<div id="deleteMultipleExpenseModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Delete Expenses</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete these Records?</p>
          <p class="text-warning"><small>This action cannot be undone.</small></p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button class="btn btn-danger" data-dismiss="modal" (click)="deleteMultiple()">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
