<div class="toolbar-user-container">
	<button mat-button (click)="isOpen = !isOpen" class="toolbar-user-btn" [class.open]="isOpen" [ngStyle.xs]="{'min-width': '70px'}">
  		<span fxLayout="row" fxLayoutAlign="start center">
    		<img class="avatar" [src]="currentUser?.photoURL || '../../../../assets/user-image.png'">
    		<span class="name" fxHide fxShow.gt-xs>{{currentUser?.currentUserName || Hari}}</span>
    		<mat-icon class="icon" fxHide fxShow.gt-xs>keyboard_arrow_down</mat-icon>
  		</span>
  	</button>


  	<div class="dropdown mat-elevation-z1" [class.open]="isOpen">
    	<div class="content">
      		<mat-nav-list>
      			<mat-list-item (click)="goToProfile()">
      				<a matLine >Profile</a>
				    <button mat-icon-button>
				       <mat-icon>account_circle</mat-icon>
				    </button>
      			</mat-list-item>
				<mat-list-item href="#reportModal" data-toggle="modal" (click)="clearModal()">
					<a matLine >Report</a>
					<button mat-icon-button>
						<mat-icon>report_problem</mat-icon>
					</button>
				</mat-list-item>

				<mat-divider></mat-divider>

      			<mat-list-item (click)="logOut()">
      				<a matLine >Logout</a>
				    <button mat-icon-button>
				       <mat-icon>exit_to_app</mat-icon>
				    </button>
      			</mat-list-item>
      		</mat-nav-list>
    	</div>
  	</div>
</div>


<div id="reportModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form onsubmit="return false;">
				<div class="modal-header">
					<h4 class="modal-title">Something went wrong? <br>Report to an admin via email</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<input id="report" type="text" class="form-control" placeholder="Type your problem here">
				</div>
				<div class="modal-footer">
					<button class="btn btn-info" data-dismiss="modal" (click)="sendReport()" style="margin-right: 330px;">Send</button>
					<button class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
